.exbody{
    padding: 2rem 2rem;
}
.excards{
    /* display:inlin ; */
    padding: 2rem 7rem;
    width: 80px;
    /* border: 1px solid black; */
    /* box-shadow: 2px; */
    
}
.excards :hover{
    transform: scale(1.1);
}
.cardscontainer{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
}
heading{
    /* color: red; */
    display: block;
    text-align: center;
    color: black;
}


text{
    color: black;
    /* color: red; */
    display: block;
    text-align: center;
    text-decoration: none;
}