body{
  /* background-color: rgb(53, 53, 182); */
}

.header{
  /* background-color: rgb(203, 203, 203); */
  background-color: black;
  color: white;
  height: 3rem;
  display: flex;
  margin: 15px 5%;
  border-radius: 10px;
  /* position: relative; */
}
.header ul{
display: flex;
margin-left: 36%;
/* padding: 2px 0; */
}
.header ul li {
    list-style: none;
    /* display: flex; */
    /* display: ; */
    width: 90px;
    height: 25px;
    /* padding: 5px 0; */
    margin-top: -4px;
  }
  .lin{
    color: white;
    display: inline;
    text-decoration: none;
    /* pad: 5px 0; */
}
.log{
  width: 100px;
  display: inline-flex;
  /* background-color: aqua; */
  padding: 10px 80px
  
}
.crypt{
  font-weight: 600;
  
}